a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

//Header- Nav

.main-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.386), rgba(255, 255, 255, 0)), url(/img/Monstercat-AC.jpg), ;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
    position: sticky;

    .nav {
        width: 100%;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgba(255,255,255,.05);
        transition: height .5s ease;
        position: sticky;
        top: 0;


        .logo {
            height: 100px;
            margin-left: 40px;
        }   

        ul {
            list-style: none;
            display: flex;
            font-size: 1.5rem;
            margin-right: 40px;;

            li {
                margin-right: 25px;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.6rem;

                    &:hover {
                        color: yellow;

                        &::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: #fff;
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform .5s ease;
                        }
                    }
                }
            }
        }
    }

    .scrolling-active {
        background-color: #fff;
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
        z-index: 1;

        &.nav {
            height: 6rem;

            .logo {
                transform: scale(0.8);
                transition: transform 0.5s;
            }

            & a {
                color: #313131;

                &::after {
                    background-color: #313131;
                }
            }
        }

    }

    //Form

    .search-form {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        input[type="text"] {
            width: 300px;
            border-radius: 4px;
            outline: none;
            background: #f2f2f2;
            height: 46px;
            font-weight: 100;
            line-height: 20px;
            cursor: text;
            padding: 0 16px;
            margin-right: 20px;

            &:placeholder-shown {
                padding-left: 10px;
                font-style: italic;
            }
        }
    }

    .search-btn {
        background-color: #f50;
        border-color: #f50;
        color: #fff;
        border-radius: 3px;
        font-weight: 100;
    }
}


//Search Results


section {
    text-align: center;
    margin-top: 35px;

    .artist {
        display: flex;
        margin: 20px;
    }

    .artist-info {
        display: flex;
        flex-direction: column;
        justify-items: start;
    }
}