*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
}

header {
  background-color: #081623;
  background-image: url(../img/HeroImg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

header .navbar {
  font-family: 'Rajdhani', sans-serif;
  height: 5rem;
  background-color: transparent;
  border-bottom: 1px solid #deb992;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .navbar #logo {
  color: white;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 400;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

header .navbar #logo:hover {
  text-decoration: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

header .navbar .nav-link {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  margin-right: 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

header .navbar .nav-link:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

header .scrolling-active {
  background-color: #fff;
  -webkit-box-shadow: 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 3px 1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

header .scrolling-active #logo {
  color: black;
}

header .scrolling-active .nav-link {
  color: black;
}

header .CTA {
  font-family: 'Rajdhani', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

header .CTA .hero-text {
  width: 100%;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  color: #deb992;
  margin-bottom: 20px;
  font-size: 4rem;
}

header .CTA .copy {
  font-family: 'Rajdhani', sans-serif;
  color: #deb992;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
}

header .CTA .search-form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header .CTA .search-form .search-input {
  width: 40%;
  height: 40px;
  border-radius: 30px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #1ba098;
  outline: none;
  caret-color: white;
  color: white;
}

header .CTA .search-form .search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

header .CTA .search-form .search-input:focus:-ms-input-placeholder {
  color: transparent;
}

header .CTA .search-form .search-input:focus::-ms-input-placeholder {
  color: transparent;
}

header .CTA .search-form .search-input:focus::placeholder {
  color: transparent;
}

header .CTA .search-form .search-input::-webkit-input-placeholder {
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

header .CTA .search-form .search-input:-ms-input-placeholder {
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

header .CTA .search-form .search-input::-ms-input-placeholder {
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

header .CTA .search-form .search-input::placeholder {
  color: white;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem;
}

header .CTA .search-form .button {
  width: 85px;
  margin: 0 auto;
}

header .CTA .search-form .search-button {
  outline: none;
  margin-top: 25px;
  border-radius: 30px;
  height: 35px;
  width: 85px;
  text-align: center;
  background-color: transparent;
  color: white;
  font-weight: 300;
  border: 1px solid #1ba098;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

header .CTA .search-form .search-button:hover {
  background-color: white;
  color: #1ba098;
  font-weight: 400;
}

.fa-sort-up {
  color: #deb992;
  font-size: 3em;
  position: absolute;
  position: fixed;
  bottom: 0;
  right: 30px;
}

.artist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.artist-container .artist-block {
  border-bottom: 1px solid #deb992;
  padding: 20px 0;
}

.artist-container .artist-block .artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px 0;
}

.artist-container .artist-block .artist .artist-info {
  margin-left: 15px;
}

.artist-container .artist-block .play {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  artist-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.results {
  font-family: 'Rajdhani', sans-serif;
  margin-top: 2.5rem;
}

.search-container {
  padding-bottom: 45px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rajdhani', sans-serif;
  border-top: 2px solid #deb992;
}

.footer h2 {
  margin: 30px 0 10px 0;
}

.footer p {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer ul {
  list-style: none;
  text-align: center;
}

.footer ul li {
  margin-bottom: 5px;
}

.error {
  color: red;
  margin-top: 40px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */